:root {
  --primary-color: #7c625c; /* Background color */
  --secondary-color: rgb(32, 32, 32); /* Text color */
  // --secondary-color: rgb(156, 204, 247); /* Text color */
  --logo-color: #64a6bd;
}

.container {
  background-color: var(--primary-color);
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  aside {
    margin: auto;
    height: 20%;
    display: flex;
    align-items: center;

    h1 {
      text-decoration: none;
      color: var(--logo-color);
      margin-bottom: 40px;
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 3em;
    }
  }

  nav {
    margin: auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .link {
      text-decoration: none;
      color: var(--secondary-color);
      margin-bottom: 40px;
      font-family: "Playfair Display", sans-serif;
      font-weight: 700;
      font-size: 1.5em;
      transition: color 0.4s ease-in;
    }

    .link:hover,
    .link:active {
      color: bisque;
    }
  }
}
