.container {
  background-color: #d3beb7;
  margin-left: 20%;
  min-height: 100vh;
  min-width: 80%;

  section {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 20px;

    aside {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h1 {
        font-family: "Playfair Display", sans-serif;
        color: rgb(32, 32, 32);
        font-size: 30px;
        font-weight: 700;
      }
      a {
        font-family: "Source Sans Pro", sans-serif;
        color: rgb(32, 32, 32);
        text-decoration: none;
        align-self: center;
        text-align: center;
        border: black solid 1px;
        width: 100px;
        padding: 5px;
        transition: 0.5s ease-in-out;
        box-shadow: 10px 10px 17px -11px rgba(140, 121, 121, 0.75);
        -webkit-box-shadow: 10px 10px 17px -11px rgba(140, 121, 121, 0.75);
        -moz-box-shadow: 10px 10px 17px -11px rgba(140, 121, 121, 0.75);

        span {
          margin: none;
        }
      }

      a:hover {
        background-color: rgb(198, 196, 255);
      }
    }

    p {
      font-family: "Open Sans", serif;
      color: rgb(32, 32, 32);
      font-size: 14px;
    }
  }
  article {
    width: 500px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 20px;

    img {
      box-shadow: 10px 10px 17px -11px rgba(140, 121, 121, 0.75);
      -webkit-box-shadow: 10px 10px 17px -11px rgba(140, 121, 121, 0.75);
      -moz-box-shadow: 10px 10px 17px -11px rgba(140, 121, 121, 0.75);
      margin-bottom: 20px;
    }
  }
}

@media only screen and (min-width: 370px) and (max-width: 679px) {
  .container {
    margin-left: 0%;
    padding-top: 100px;
    min-height: 100vh;
    min-width: 80%;

    section {
      max-width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: auto;
      gap: 30px;
      padding-top: 50px;
      padding-bottom: 20px;

      aside {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h1 {
          font-size: 30px;
        }
        a {
          text-decoration: none;
          align-self: center;
          text-align: center;
          width: 100px;
          padding: 5px;

          span {
            margin: none;
          }
        }
      }

      p {
        font-size: 14px;
      }
    }
    article {
      width: 500px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      margin: auto;
      padding-top: 25px;
      padding-bottom: 20px;

      img {
        margin-bottom: 20px;
      }
    }
  }
}
