.container {
  background-color: #d3beb7;
  margin-left: 20%;
  min-height: 100vh;
  min-width: 80%;

  .categories {
    background-color: #c9b1a8;
    padding: 20px;
    box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
    -webkit-box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
    -moz-box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);

    h1 {
      font-size: 20px;
      padding: 20px 20px 10px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
    }

    .listContainer {
      display: flex;
      flex-direction: row;
      padding: 20px;

      .listItem {
        list-style: none;

        .unselected {
          font-family: "Open Sans", serif;
          background-color: #8a6057;
          color: rgb(255, 242, 255);
          border: none;
          min-width: 90px;
          height: 30px;
          margin: 10px 15px 0px 0px;
          transition: 0.5s ease-in-out;
          box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
          -webkit-box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
          -moz-box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
        }

        .unselected:hover {
          cursor: pointer;
          color: rgb(198, 196, 255);
        }

        .selected {
          font-family: "Open Sans", serif;
          background-color: #d99485;
          color: rgb(255, 242, 255);
          border: none;
          min-width: 90px;
          height: 30px;
          margin: 10px 15px 0px 0px;
          transition: 0.5s ease-in-out;
          box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
          -webkit-box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
          -moz-box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
        }

        .selected:hover {
          cursor: pointer;
          color: rgb(255, 242, 255);
        }
      }
    }

    .unselectedAllButton {
      font-family: "Open Sans", serif;
      background-color: #8a6057;
      color: rgb(255, 242, 255);
      border: none;
      min-width: 90px;
      height: 30px;
      margin: 10px 15px 0px 0px;
      transition: 0.5s ease-in-out;
      box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
      -webkit-box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
      -moz-box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
    }

    .unselectedAllButton:hover {
      cursor: pointer;
      color: rgb(196, 230, 255);
    }

    .selectedAllButton {
      font-family: "Open Sans", serif;
      background-color: #523c38;
      color: rgb(255, 242, 255);
      border: none;
      min-width: 90px;
      height: 30px;
      margin: 10px 15px 0px 0px;
      transition: 0.5s ease-in-out;
      box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
      -webkit-box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
      -moz-box-shadow: 10px 10px 17px -11px rgba(46, 46, 46, 0.75);
    }
  }

  .projects {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;

    .projectContainer {
      max-width: 40%;
      min-height: 380px;
      background-color: #c8c8c8;
      transform: translateY(0);
      transition: transform 0.5s ease-in-out;
      box-shadow: 10px 10px 17px -11px rgba(140, 121, 121, 0.75);
      -webkit-box-shadow: 10px 10px 17px -11px rgba(140, 121, 121, 0.75);
      -moz-box-shadow: 10px 10px 17px -11px rgba(140, 121, 121, 0.75);

      .link {
        text-decoration: none;

        .image {
          width: 100%;
          min-height: 70%;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .details {
          width: 90%;
          min-height: 20%;
          padding: 20px;

          h1 {
            color: rgb(32, 32, 32);
            font-family: "Source Sans Pro", sans-serif;
            font-size: 15px;
            font-weight: 400;
          }

          p {
            font-family: "Open Sans", serif;
            color: rgb(32, 32, 32);
            padding-top: 10px;
            font-size: 11px;
          }
        }
      }
    }

    article:hover {
      transform: translateY(-2mm);
    }
  }
}
